<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Acceso Denegado</h4>
            <p>Lo sentimos, no tienes permiso para acceder a esta página.</p>
            <hr>
            <p class="mb-0">Por favor, regresa a la <a th:href="@{/public}" class="alert-link">página principal</a>.</p>
        </div>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>